.header {
  padding: 1rem;
  text-align: center;
  border-bottom: 1px solid lightgray;
}

h4 {
  letter-spacing: 0px !important;
  padding-top: 0.25rem;
}

@media (max-width: 512px) {
  h4 {
    font-size: 1.15rem;
  }
}
